@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-primary: #E63888;

  --color-dark-low: rgba(0, 0, 0, 0.44);
  --color-dark-medium: rgba(0, 0, 0, 0.60);
  --color-dark-high: rgba(0, 0, 0, 0.80);

  --color-light-solid: #FFFFFF;
  --color-light-high: rgba(255, 255, 255, 0.80);

  --border-radius: 10px;
}

.dark-theme {
  --color-primary: #E63888;

  --color-dark-low: rgba(0, 0, 0, 0.44);
  --color-dark-medium: rgba(0, 0, 0, 0.60);
  --color-dark-high: rgba(0, 0, 0, 0.80);

  --color-light-solid: #FFFFFF;
  --color-light-high: rgba(255, 255, 255, 0.80);
}

html {
  font-size: 16px;
}

body {
  * {
    font-family: 'Roboto', sans-serif;

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;

    color: var(--color-dark-high);
  }

  .df {
    display: flex;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -1.2;
    @media screen and (min-width: 63.5rem) {
      font-size: 3rem;
      line-height: 2.75rem;
    }
  }
  h2 {
    font-size: 2rem;
    line-height: 2.75rem;
    letter-spacing: -1;
    @media screen and (min-width: 63.5rem) {
      font-size: 2.5rem;
      line-height: 2.25rem;
    }
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: -0.8;
    @media screen and (min-width: 63.5rem) {
      font-size: 2rem;
      line-height: 1.75rem;
    }
  }
  h4 {
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.6;
    @media screen and (min-width: 63.5rem) {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
  h5 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    @media screen and (min-width: 63.5rem) {
      font-size: 1.25rem;
      line-height: 1.375rem;
    }
  }
  h6 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  input{box-sizing:border-box}

  .page-container {
    min-height: 100vh;
  }

  .input-space {
    margin: 16px 0;
  }

  .input-100w {
    input, button {
      width: 100%;
    }
  }

  .input-label {
    margin: 0;
    margin-bottom: 8px;
  }
}
