.star-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .star-input {
    display: flex;
  }

  .star-button {
    background: none;
    border: none;
  }

  .star {
    cursor: pointer;
    &.hover, &.checked {
      .content-fill {
        fill: #f5c542;
      }
    }
  }
}
